<header class="header">
    <div class="header__logo-img">
        <div class="logo-img">
            <a href='/' class='logo_link'>(logo)</a>
        </div>
    </div>
    <div class="header__logo-txt">
        <div class="logo-txt">
            <a href='/' class='logo_link'>(우. 꿈. 스)</a>
        </div>
    </div>
    <% if(!isLoggedIn) { %>
    <a href='/auth/sign-in' class='header__btn--sign-in'>(sign in)</a>
    <% } else if(isLoggedIn && path === '/') { %>
    <a href='/mypage' class='header__btn--mypage'>(mypage)</a>
    <% } else if(isLoggedIn && path === '/mypage') {%>
    <a href='/auth/sign-out' class='header__btn--sign-out'>(sign out)</a>
    <% } %>
</header>