<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>스터디 관리</title>
    <link href="/public/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/group-edit.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main class="group-edit">
      <section class="group-edit-category">
        <select class="group-edit-main-category" name="main">
          <option value="" disabled selected>대분류</option>
          <option value="officiary">공무원</option>
          <option value="language">어학</option>
          <option value="employee">취업</option>
          <option value="exam">수능</option>
          <option value="hobby">취미</option>
        </select>
        <select class="group-edit-sub-category" name="main">
          <option value="" disabled selected>중분류</option>
        </select>
      </section>
      <section class="group-edit-title">
        <input placeholder="스터디 이름" />
        <button>수정하기</button>
      </section>
      <section class="group-edit-members">
        <span>참여중인 멤버</span>
        <hr />
        <% for (let i = 0; i < 9; i++) { %>
        <div class="group-edit-member">
          <div class="group-edit-members-profile">
            <div class="group-edit-members-profile__container">
              <img
                class="group-edit-members-profile__img"
                src="/public/img/test-profile.png"
              />
            </div>
            <div class="group-edit-members-profile__info">
              <div class="group-edit-members-profile__nickname">
                <span>닉네임</span>
                <span>loopbackseal</span>
              </div>
              <div class="group-edit-members-profile__recenttime">
                <span>최근 접속 시간</span>
                <span>21/07/19 15:39</span>
              </div>
              <div class="group-edit-members-profile__studyratio">
                <span>스터디 참여율</span>
                <span>87%</span>
              </div>
              <div class="group-edit-members-profile__timeratio">
                <span>목표 시간 달성율</span>
                <span>87%</span>
              </div>
              <div class="group-edit-members-profile__workratio">
                <span>목표 과제 달성율</span>
                <span>87%</span>
              </div>
            </div>
          </div>
          <div class="group-edit-member-action">
            <button class="group-edit-member-action__talk">1:1대화</button>
            <button class="group-edit-member-action__warning">경고</button>
            <button class="group-edit-member-action__kickout">강퇴</button>
          </div>
        </div>
        <% } %>
      </section>
      <section class="group-edit-submit">
        <button class="group-create-submit__btn">수정완료</button>
      </section>
    </main>
    <script src="/public/js/group-edit.js"></script>
  </body>
</html>
