<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header id="header">
        <a href='/' id='headerLogo' class='logo'>(logo)</a>
        <a href='/' id='headerText'>(우. 꿈. 스)</a>
            <% if(!isLoggedIn) { %>
            <a href='/auth/sign-in' id='signIn' class='headerBtn'>(sign in)</a>
            <% } else { %>
            <a href='/mypage' id='mypage' class='headerBtn'>(mypage)</a>
            <% } %>        
    </header>
    <main id="indexContainer">
        <div id='createContainer'>
            <% if(!isLoggedIn) { %>
            <a href='/auth/sign-in' class='createStudyBtn'>(새로운 스터디 만들기)</a>
            <% } else { %>
            <!-- 내가 가입한 스터디가 있으면 n개 불러와서 출력 -->
            <!-- 가입한 스터디 없으면 그대로 스터디 생성 버튼 -->
            <a href='/create' class='createStudyBtn'>(새로운 스터디 만들기)</a>
            <p class='studyList'>My Study List</p>
            <% } %> 
        </div>
        <div id="groupListContainer">
            스터디 목록
        </div>
        <!-- 임시 로그아웃 버튼 -->
        <a href='/auth/sign-out'>👉로그아웃(임시버튼)</a>
    </main>
    <footer id="footer">
        (회사소개 이용약관 copyright 등등)
    </footer>
    
    <!-- scripts -->
    <script src='/js/index.js'></script>
</body>
</html>