<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/default.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- header -->
    <%- include('includes/header'); %>
    <!-- main -->
    <main class="main">
        <p>This is mypage.</p>
        <a href='/auth/sign-out'>👉로그아웃(임시버튼)</a>
    </main>
    <!-- footer -->
    <%- include('includes/footer'); %>
</body>
</html>