<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header id="header">
        <a href='/' id='headerLogo' class='logo'>(logo)</a>
        <a href='/' class='headerText'>(์ฐ. ๊ฟ. ์ค)</a>
        <a href='/mypage' id='mypage' class='headerBtn'>(mypage)</a>
    </header>
    <main id=mypageContainer>
        <p>This is mypage.</p>
        <a href='/auth/sign-out'>๐๋ก๊ทธ์์(์์๋ฒํผ)</a>
    </main>
    <footer id="footer">
        (ํ์ฌ์๊ฐ ์ด์ฉ์ฝ๊ด copyright ๋ฑ๋ฑ)
    </footer>
</body>
</html>