<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/auth.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a href='/' id='signInLogo' class='logo'>(logo)</a>
    <form action="/auth/sign-in_process" method="post" id="signInForm" class="formContainer">
        <input class="formInput" type="text" name="email" placeholder="이메일">
        <input class="formInput" type="password" name="pwd" placeholder="비밀번호">
        <input class="submitBtn" type="submit" value="이메일 로그인">
    </form>
    <div id="snsContainer">
        <a href="/auth/google">(Google)</a>
        <a href="/auth/facebook">(Facebook)</a>
    </div>
    <div id="authPanel">
        <a id="signupLink" href="/auth/sign-up">이메일 회원가입</a>
        <span>|</span>
        <a id="resetPwdLink" href="">비밀번호 재설정</a>
    </div>
    <footer id="footer">
        (회사소개 이용약관 copyright 등등)
    </footer>
</body>
</html>