<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/public/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/auth.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- logo -->
    <section class="sign-up-logo-img">
      <%- include('includes/auth/auth-logo'); %>
    </section>
    <!-- Sign up container -->
    <section class="sign-up-container">
      <%- include('includes/auth/sign-up-container'); %>
    </section>
    <!-- footer -->
    <%- include('includes/footer'); %>
  </body>
  <script src="/public/js/sign-up.js"></script>
</html>
