.cat-filter-main {
  display: flex;
  overflow-x: scroll;
  padding-top: 16px;
  padding-bottom: 13px;
  /* hide scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.cat-filter-main::-webkit-scrollbar {
  display: none;
}
.cat-filter-main__btn {
  background-color: var(--cat-filter-main-bg-color);
  text-align: center;
  padding-top: 3px;
  margin-left: 9px;
  min-width: 60px;
  height: 30px;
  font-size: 16px;
  color: var(--cat-filter-main-color);
  border-radius: 5px;
  border: none;
  outline: none;
}
.cat-filter-main__btn:hover {
  background-color: #ddd;
}
.cat-filter-main__btn.active-main {
  color: white;
  background-color: #4f4f4f;
}
.cat-filter-main__btn.active-main:hover {
  background-color: #4f4f4f;
}
.cat-filter-sub {
  display: flex;
  overflow-x: scroll;
  height: 40px;
  margin-left: 3px;
  /* hide scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.cat-filter-sub::-webkit-scrollbar {
  display: none;
}
.cat-filter-sub__btn {
  background-color: rgba(229, 229, 229, 1);
  display: none;
  text-align: center;
  padding-top: 2px;
  margin-left: 6px;
  min-width: 50px;
  height: 20px;
  font-size: 9px;
  border: none;
  outline: none;
}

.cat-filter-sub__btn.show-sub {
  display: flow-root;
}

.cat-filter-sub__btn.show-sub:hover {
  background-color: dimgray;
}

.cat-filter-sub__btn.active-sub {
  background-color: #fff;
}

.cat-filter-sub__btn.active-sub:hover {
  background-color: #fff;
}
