:root {
  --font-size-large: 20px;
  --font-size-default: 16px;
  --font-size-medium: 14px;
  --font-size-small: 12px;
  --font-size-x-small: 9px;
  --submit-width: 240px;
  --submit-height: 40px;
  --cat-filter-main-bg-color: white;
  --cat-filter-main-color: black;
}

.group-create {
  height: 100%;
  overflow: auto;
}

/* hide strollbar */
.group-create {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.group-create::-webkit-scrollbar {
  display: none;
}

.group-create-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 87px;
  font-size: var(--font-size-medium);
  background-color: #c4c4c4;
}

.group-create-title__name {
  margin: 0 20px;
  font-size: var(--font-size-large);
}
.group-create-title__desc {
  margin: 10px 0px 0px 20px;
  font-size: var(--font-size-small);
}
.group-create-title__back-btn {
  width: 70px;
  height: 35px;
  margin: 10px;
  font-size: var(--font-size-small);
}

.group-create-name {
  width: 100%;
  margin: 10px 0;
  background-color: #c4c4c4;
}
.group-create-name__desc {
  margin: 20px 0px 0px 20px;
  font-size: var(--font-size-default);
}
.group-create-name__input {
  margin: 7px 0px 10px 17px;
  color: white;
  border: none;
  background: transparent;
}
.group-create-name__input::placeholder {
  color: white;
}

.group-create-condition {
  width: 100%;
  margin: 10px 0;
  background-color: #c4c4c4;
}
.group-create-condition__desc {
  margin: 20px 0px 0px 20px;
  font-size: var(--font-size-default);
}
.group-create-condition__select {
  width: 90px;
  margin: 10px 0px 10px 15px;
}

.group-create-category {
  width: 100%;
  margin: 10px 0;
  background-color: #c4c4c4;
}
.group-create-category__main {
  margin: 20px 0px 0px 20px;
  font-size: var(--font-size-default);
}
.group-create-category__sub {
  margin: 10px 0px 15px 20px;
  font-size: var(--font-size-default);
}

.group-create-intro {
  width: 100%;
  margin: 10px 0;
  background-color: #c4c4c4;
}
.group-create-intro__desc {
  margin: 20px 0px 0px 20px;
  font-size: var(--font-size-default);
}
.group-create-intro__text {
  width: 300px;
  height: 300px;
  overflow: auto;
  margin: 13px;
  padding: 10px;
  border-radius: 10px;
  font-size: var(--font-size-default);
  color: black;
  background-color: white;
}

/* hide strollbar */
.group-create-intro__text {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.group-create-intro__text::-webkit-scrollbar {
  display: none;
}

.group-create-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 350px;
  height: 70px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.group-create-submit__btn {
  width: var(--submit-width);
  height: var(--submit-height);
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
input {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
