/* template */
html {
  font-family: 'Gothic A1', sans-serif;
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 24px;
  background-color: #e5e5e5;
}

body {
  padding-left: 12px;
  padding-right: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 350px;
  height: inherit;
  background: #ffffff;
}

/* #logo-img {
}

#logo-txt {
} */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 50px;

  /* temp */
  border: solid 1px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;

  /* temp */
  border: solid 1px;
}

footer {
  width: 350px;
  text-align: center;

  /* temp */
  font-size: 5px;
  border: solid 1px;
}
