:root {
  --font-size-large: 20px;
  --font-size-default: 16px;
  --font-size-medium: 14px;
  --font-size-small: 12px;
  --font-size-x-small: 9px;
}

body {
  width: 350px;
  padding-left: 12px;
  padding-right: 13px;
}

.group-list {
  width: 328px;
  padding: 11px;
  background-color: #e5e5e5;
}

.group-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.group-list__img {
  object-fit: cover;
  width: 120px;
  height: 82px;
  margin-right: 5px;
  border-radius: 5%;
}

.group-list-table {
  border-collapse: separate;
  border-spacing: 3px;
  cursor: pointer;
}

.group-list-table__name {
  width: 198px;
  height: 38px;
  font-size: var(--font-size-large);
  color: #ffffff;
  background-color: #c4c4c4;
}

.group-list-table__location {
  width: 119px;
  height: 16px;
  font-size: var(--font-size-small);
  color: #ffffff;
  background-color: #c4c4c4;
}

.group-list-table__number {
  font-size: var(--font-size-small);
  color: #ffffff;
  background-color: #c4c4c4;
}

.group-list-table__tag {
  height: 22px;
  font-size: var(--font-size-medium);
  color: #c4c4c4;
  background-color: #ffffff;
}
