:root {
    --body-width: 375px;

    /* Header */
    --header-width: 350px;
    --header-height: 50px;
    --header-bg-color: #e5e5e5;
    --header-logo-width: ;
    --header-logo-height: ;
    --header-logo-margin: 0 0 0 10px;
    --header-text-width: ;
    --header-text-height: ;
    --header-btn-width: ;
    --header-btn-height: ;
    --header-btn-margin: 0 10px 0 0;

    /* Create Container */
    --create-container-width: 350px;
    --create-container-height: 140px;
    --create-container-bg-color: #e5e5e5;
    --create-container-margin: 10px auto;
    --create-button-width: ;
    --create-button-hegiht: ;
    --my-study-list-width: ;
    --my-study-list-height: ;
}

body {
    width: var(--body-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    width: var(--header-width);
    height: var(--header-height);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-bg-color);
}

#headerLogo {
    width: var(--header-logo-width);
    height: var(--header-logo-height);
    margin: var(--header-logo-margin);
}

#headerText {
    width: var(--header-text-width);
    height: var(--header-text-height);
}

.headerBtn {
    width: var(--header-btn-width);
    height: var(--header-btn-height);
    margin: var(--header-btn-margin);
}

#createContainer {
    width: var(--create-container-width);
    height: var(--create-container-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--create-container-margin);
    background-color: var(--create-container-bg-color);
}

#createContainer .createStudyBtn {
    margin: auto;
}