:root {
  /* Group List */
  --body-width: 375px;

  --group-list-container-width: 350px;
  --group-list-container-height: 100%;
  --group-list-container-margin: auto;
  --group-list-container-padding: 10px;
  --group-list-container-color: #e5e5e5;

  --thumnail-container-width: 80px;
  --thumnail-container-height: 80px;

  --thumnail-border-radius: 0%;

  --group-name-background-color: #c4c4c4;
  --group-name-font-color: #ffffff;
  --group-name-font-size: 20px;
  --group-name-width: 234px;
  --group-name-height: 38px;

  --group-location-background-color: #c4c4c4;
  --group-location-font-color: #ffffff;
  --group-location-font-size: 12px;
  --group-location-width: 141px;
  --group-location-height: 16px;

  --group-num-background-color: #c4c4c4;
  --group-num-font-color: #ffffff;
  --group-num-font-size: 12px;
  --group-num-width: 89px;
  --group-num-height: 16px;

  --group-tag-background-color: #ffffff;
  --group-tag-font-color: #c4c4c4;
  --group-tag-font-size: 14px;
  --group-tag-width: 234px;
  --group-tag-height: 22px;
}

html {
  height: 100%;
  margin: 0;
  padding: 0px;
}

body {
  margin: 0 auto;
  width: var(--body-width);
}

table {
  text-align: center;
  border-spacing: 3px;
  margin-bottom: 13px;
  table-layout: fixed;
  cursor: pointer;
}

#groupListContainer {
  width: var(--group-list-container-width);
  height: var(--group-list-container-height);
  margin: var(--group-list-container-margin);
  padding: var(--group-list-container-padding);
  background-color: var(--group-list-container-color);
  overflow: auto;
}

#groupListContainer .thumnail {
  border-radius: var(--thumnail-border-radius);
  height: 100%;
  display: block;
  margin: auto;
}

#groupListContainer .thumnailContainer {
  width: var(--thumnail-container-width);
  height: var(--thumnail-container-height);
  table-layout: fixed;
}

#groupListContainer .groupNameContainer {
  background-color: var(--group-name-background-color);
  color: var(--group-name-font-color);
  font-size: var(--group-name-font-size);
  width: var(--group-name-width);
  height: var(--group-name-height);
  table-layout: fixed;
}

#groupListContainer .groupLocationContainer {
  background-color: var(--group-location-background-color);
  color: var(--group-location-font-color);
  font-size: var(--group-location-font-size);
  width: var(--group-location-width);
  height: var(--group-location-height);
}
#groupListContainer .groupNumContainer {
  background-color: var(--group-num-background-color);
  color: var(--group-num-font-color);
  font-size: var(--group-num-font-size);
  width: var(--group-num-width);
  height: var(--group-num-height);
}

#groupListContainer .groupTagContainer {
  background-color: var(--group-tag-background-color);
  color: var(--group-tag-font-color);
  font-size: var(--group-tag-font-size);
  width: var(--group-tag-width);
  height: var(--group-tag-height);
}
