:root {
    /* body */
    --body-width: 375px;

    /* logo */
    --logo-width: ;
    --logo-height: ;
    
    /* header */
    --header-width: 350px;
    --header-height: 50px;
    --header-logo-margin: 0 0 0 10px;
    --header-text-width: ;
    --header-text-height: ;
    --header-btn-width: ;
    --header-btn-height: ;
    --header-btn-margin: 0 10px 0 0;

    /* main */
    --main-width: 350px;
    --main-height: ;
    
    /* footer */
    --footer-width: 350px;
    --footer-height: ;

    /* etc */
}

body {
    width: var(--body-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: var(--logo-width);
    height: var(--logo-height);
}

header {
    width: var(--header-width);
    height: var(--header-height);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* temp */
    border: solid 1px;
}

#headerLogo {
    margin: var(--header-logo-margin);
}

.headerText {
    width: var(--header-text-width);
    height: var(--header-text-height);
}

.headerBtn {
    width: var(--header-btn-width);
    height: var(--header-btn-height);
    margin: var(--header-btn-margin);
}

main {
    width: var(--main-width);
    height: var(--main-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* temp */
    border: solid 1px;
}

footer {
    width: var(--footer-width);
    height: var(--footer-height);
    text-align: center;
    /* temp */
    font-size: 5px;
    border: solid 1px;
}