<div class="delete-modal">
  <div class="delete-modal__content">
    <div class="delete-modal__text">
      스터디의 모든 정보가 삭제됩니다.<br>
      정말로 삭제하시겠습니까?
    </div>
    <div class="delete-modal__ctrls">
      <button class="delete-modal__yes-btn">네</button>
      <button class="delete-modal__no-btn">아니요</button>
    </div>
  </div>
</div>