<span class="group-list__text">진행 중인 스터디</span>
<!-- 내가 모집한 스터디 목록 -->
<div class="group-list__item">
  <div class="group-list-cat">
    <button class="cat-filter-main__btn">대분류</button>
    <button class="cat-filter-sub__btn">중분류</button>
  </div>
  <div class="group-list__info">
    <span class="group-list__num">3/5</span>
    <span class="group-list__name">스터디 이름</span>
  </div>
  <div class="group-list__mgr">
    <button class="group-list__del-btn">삭제</button>
    <button class="group-list__quit-btn">탈퇴</button>
    <button class="group-list__enter-btn">입장</button>
  </div>
</div>
<!-- TEST DATA!!! -->
<% for(let i = 0; i < 2; i++) { %>
  <div class="group-list__item">
    <div class="group-list-cat">
      <button class="cat-filter-main__btn">대분류</button>
      <button class="cat-filter-sub__btn">중분류</button>
    </div>
    <div class="group-list__info">
      <span class="group-list__num">3/5</span>
      <span class="group-list__name">TEST</span>
    </div>
    <div class="group-list__mgr">
      <button class="group-list__del-btn">삭제</button>
      <button class="group-list__quit-btn">탈퇴</button>
      <button class="group-list__enter-btn">입장</button>
    </div>
  </div>
<% } %>