<div class="quit-modal">
  <div class="quit-modal__content">
    <div class="quit-modal__text">
      스터디의 모든 정보가 삭제됩니다.<br>
      정말로 탈퇴하시겠습니까?
    </div>
    <div class="quit-modal__ctrls">
      <button class="quit-modal__yes-btn">네</button>
      <button class="modal__no-btn">아니요</button>
    </div>
  </div>
</div>

<div class="del-modal">
  <div class="del-modal__content">
    <div class="del-modal__text">
      스터디의 모든 정보가 삭제됩니다.<br>
      정말로 삭제하시겠습니까?
    </div>
    <div class="del-modal__ctrls">
      <button class="del-modal__yes-btn">네</button>
      <button class="modal__no-btn">아니요</button>
    </div>
  </div>
</div>