<div class="cat-filter-main">
  <button class="cat-filter-main__btn recommend">추천</button>
  <button class="cat-filter-main__btn all active-main">전체</button>
  <button class="cat-filter-main__btn officiary">공무원</button>
  <button class="cat-filter-main__btn language">어학</button>
  <button class="cat-filter-main__btn employee">취업</button>
  <button class="cat-filter-main__btn exam">수능</button>
  <button class="cat-filter-main__btn hobby">취미</button>
</div>
<div class="cat-filter-sub">
  <button class="cat-filter-sub__btn all officiary show-sub">9급</button>
  <button class="cat-filter-sub__btn all officiary show-sub">7급</button>
  <button class="cat-filter-sub__btn all officiary show-sub">5급</button>
  <button class="cat-filter-sub__btn all language show-sub">영어</button>
  <button class="cat-filter-sub__btn all language show-sub">중국어</button>
  <button class="cat-filter-sub__btn all language show-sub">일본어</button>
  <button class="cat-filter-sub__btn all employee show-sub">경영/사무</button>
  <button class="cat-filter-sub__btn all employee show-sub">마케팅</button>
  <button class="cat-filter-sub__btn all employee show-sub">IT/인터넷</button>
  <button class="cat-filter-sub__btn all employee show-sub">디자인</button>
  <button class="cat-filter-sub__btn all employee show-sub">미디어</button>
  <button class="cat-filter-sub__btn all hobby show-sub">독서</button>
  <button class="cat-filter-sub__btn all hobby show-sub">토론</button>
  <button class="cat-filter-sub__btn all language employee show-sub">
    기타
  </button>
</div>
