<% if (path === '/create') { %>
<div class="group-create-category__main">대분류</div>
<% } %>
<div class="cat-filter-main">
  <% if (path === '') { %>
  <button class="cat-filter-main__btn recommend">추천</button>
  <button class="cat-filter-main__btn all">전체</button>
  <% } %>
  <button class="cat-filter-main__btn officiary active-main">공무원</button>
  <button class="cat-filter-main__btn language">어학</button>
  <button class="cat-filter-main__btn employee">취업</button>
  <button class="cat-filter-main__btn exam">수능</button>
  <button class="cat-filter-main__btn hobby">취미</button>
</div>
<% if (path === '/create') { %>
<div class="group-create-category__sub">중분류</div>
<% } %>
<div class="cat-filter-sub">
  <button class="cat-filter-sub__btn all officiary show-sub">9급</button>
  <button class="cat-filter-sub__btn all officiary show-sub">7급</button>
  <button class="cat-filter-sub__btn all officiary show-sub">5급</button>
  <button class="cat-filter-sub__btn all language">영어</button>
  <button class="cat-filter-sub__btn all language">중국어</button>
  <button class="cat-filter-sub__btn all language">일본어</button>
  <button class="cat-filter-sub__btn all employee">경영/사무</button>
  <button class="cat-filter-sub__btn all employee">마케팅</button>
  <button class="cat-filter-sub__btn all employee">IT/인터넷</button>
  <button class="cat-filter-sub__btn all employee">디자인</button>
  <button class="cat-filter-sub__btn all employee">미디어</button>
  <button class="cat-filter-sub__btn all hobby">독서</button>
  <button class="cat-filter-sub__btn all hobby">토론</button>
  <button class="cat-filter-sub__btn all language employee">기타</button>
</div>
