<div class="category-filter__main">
  <button class="category-filter__main__btn" id="recommend">추천</button>
  <button class="category-filter__main__btn--active" id="all">전체</button>
  <button class="category-filter__main__btn" id="officiary">공무원</button>
  <button class="category-filter__main__btn" id="language">어학</button>
  <button class="category-filter__main__btn" id="employee">취업</button>
  <button class="category-filter__main__btn" id="exam">수능</button>
  <button class="category-filter__main__btn" id="hobby">취미</button>
</div>
<div class="category-filter__sub">
  <button class="category-filter__sub__btn" id="all officiary">9급</button>
  <button class="category-filter__sub__btn--active" id="all officiary">
    7급
  </button>
  <button class="category-filter__sub__btn" id="all officiary">5급</button>
  <button class="category-filter__sub__btn" id="all language">영어</button>
  <button class="category-filter__sub__btn--active" id="all language">
    중국어
  </button>
  <button class="category-filter__sub__btn" id="all language">일본어</button>
  <button class="category-filter__sub__btn" id="all employee">경영/사무</button>
  <button class="category-filter__sub__btn" id="all employee">마케팅</button>
  <button class="category-filter__sub__btn" id="all employee">IT/인터넷</button>
  <button class="category-filter__sub__btn" id="all employee">디자인</button>
  <button class="category-filter__sub__btn" id="all employee">미디어</button>
  <button class="category-filter__sub__btn" id="all hobby">독서</button>
  <button class="category-filter__sub__btn" id="all hobby">토론</button>
  <button class="category-filter__sub__btn" id="all language employee">
    기타
  </button>
</div>
