<div class="cat-filter-main">
  <!-- <input class="cat-filter-main__btn" type="button" value="추천" /> -->
  <input class="cat-filter-main__btn" type="button" value="전체" />
  <input class="cat-filter-main__btn" type="button" value="공무원" />
  <input class="cat-filter-main__btn" type="button" value="어학" />
  <input class="cat-filter-main__btn" type="button" value="취업" />
  <input class="cat-filter-main__btn" type="button" value="수능" />
  <input class="cat-filter-main__btn" type="button" value="취미" />
</div>
<div class="cat-filter-sub">
  <input class="cat-filter-sub__btn all 공무원" type="button" value="9급" />
  <input class="cat-filter-sub__btn all 공무원" type="button" value="7급" />
  <input class="cat-filter-sub__btn all 공무원" type="button" value="5급" />
  <input class="cat-filter-sub__btn all 어학" type="button" value="영어" />
  <input class="cat-filter-sub__btn all 어학" type="button" value="중국어" />
  <input class="cat-filter-sub__btn all 어학" type="button" value="일본어" />
  <input class="cat-filter-sub__btn all 취업" type="button" value="경영,사무" />
  <input class="cat-filter-sub__btn all 취업" type="button" value="마케팅" />
  <input class="cat-filter-sub__btn all 취업" type="button" value="IT,인터넷" />
  <input class="cat-filter-sub__btn all 취업" type="button" value="디자인" />
  <input class="cat-filter-sub__btn all 취업" type="button" value="미디어" />
  <input class="cat-filter-sub__btn all 수능" type="button" value="고1" />
  <input class="cat-filter-sub__btn all 수능" type="button" value="고2" />
  <input class="cat-filter-sub__btn all 수능" type="button" value="고3" />
  <input class="cat-filter-sub__btn all 수능" type="button" value="N수" />
  <input class="cat-filter-sub__btn all 취미" type="button" value="독서" />
  <input class="cat-filter-sub__btn all 취미" type="button" value="토론" />
  <input class="cat-filter-sub__btn all 어학 취업" type="button" value="기타" />
</div>
