<ul>
  <% for(let i = 0; i < 10; i++) { %>
  <li class="search-list__item">
    <a href="/group/info/test">
      <img class="search-list__img" src="/public/img/test-thumnail.png" />
    </a>
    <table class="search-list__table">
      <tr>
        <th colspan="2" class="search-list__name">
          <a href="/group/info/test">test name</a>
        </th>
      </tr>
      <tr>
        <td class="search-list__loc">
          <a href="/group/info/test">test location</a>
        </td>
        <td class="search-list__num">
          <a href="/group/info/test">모집중 0/0</a>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="search-list__tag">
          <a href="/group/info/test">test tag</a>
        </td>
      </tr>
    </table>
  </li>
  <% } %>
</ul>
