<form action="/" method="post" class="search-form__form">
  <input
    class="search-form__input"
    type="text"
    name="studygroup-search"
    placeholder="스터디 이름을 입력하세요"
  />
  <input class="search-form__btn" type="submit" value="검색" />
</form>