<form action="/auth/sign-up_process" method="post" class="sign-up-form">
  <input
    class="sign-up-form__input"
    type="text"
    name="email"
    placeholder="이메일"
  />
  <input
    class="sign-up-form__input"
    type="password"
    name="pwd"
    placeholder="비밀번호"
  />
  <input
    class="sign-up-form__input"
    type="password"
    name="pwd2"
    placeholder="비밀번호 확인"
  />
  <input
    class="sign-up-form__input"
    type="text"
    name="nickname"
    placeholder="닉네임"
  />
  <input
    class="sign-up-form__submit"
    type="submit"
    value="이메일 회원가입"
  />
</form>