<form action="/auth/sign-up_process" method="post" class="sign-up-form">
  <input
    class="sign-up-form__input"
    type="text"
    name="email"
    placeholder="이메일"
  />
  <div class="sign-up-form__email"></div>
  <input
    class="sign-up-form__input"
    type="password"
    name="pwd"
    placeholder="비밀번호"
    autocomplete="off"
  />
  <div class="sign-up-form__pwd"></div>
  <input
    class="sign-up-form__input"
    type="password"
    name="pwd2"
    placeholder="비밀번호 확인"
    autocomplete="off"
  />
  <div class="sign-up-form__pwd2"></div>
  <input
    class="sign-up-form__input"
    type="text"
    name="nickname"
    placeholder="닉네임"
  />
  <div class="sign-up-form__name"></div>
  <button class="sign-up-form__submit" type="button">이메일 회원가입</button>
</form>
